VITE_SUPABASE_URL=https://jhdymppouxckmnlmyeef.supabase.co/rest/v1/
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpoZHltcHBvdXhja21ubG15ZWVmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk3NDA0MTQsImV4cCI6MjA5NTMxNjQxNH0.peq6ozF5yXR6Gpy6ps2OSTFuuC_6FdLRUZgo-tgg6oo
